@use "helpers" as *;

:root {
  --basic-text: #fff;
  --title-text: #e7e7e7;
  --color-dark: #191919;
  --red-color: #df3d3a;
  --red-hover-color: #b5302d;

  --font-family-base: "Poppins", sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  @include laptop {
    --container-width: #{rem(1250)};
  }

  --transition-duration: 0.25s;
}
